/* ## Colors

### Primary

- Desaturated Dark Cyan: hsl(180, 29%, 50%)

### Neutral

- Light Grayish Cyan (Background): hsl(180, 52%, 96%)
- Light Grayish Cyan (Filter Tablets): hsl(180, 31%, 95%)
- Dark Grayish Cyan: hsl(180, 8%, 52%)
- Very Dark Grayish Cyan: hsl(180, 14%, 20%)

## Typography

### Body Copy

- Font size: 15px

### Headings

- Family: [League Spartan](https://fonts.google.com/specimen/League+Spartan)
- Weights: 500, 700 */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(180, 52%, 96%);
  font-family: "League Spartan", sans-serif;
}

.header {
  width: 100%;
  height: 155px;
  background: url("./images/bg-header-desktop.svg");
  background-position: center;
  background-size: cover;
  background-color: hsl(180, 29%, 50%);
}

.container {
  max-width: 1110px;
  width: auto;
  margin: 0 auto;
  display: block;
  padding: 0 40px 40px;
}

.search {
  width: 100%;
  min-height: 70px;
  padding: 20px 40px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 10px 15px -7px rgba(93, 164, 164, 0.5);
  margin-top: -36px;

  display: flex;
  justify-content: space-between;
}

.search__clear {
  margin-left: 50px;
  background-color: transparent;
  border: none;
  outline: none;
  text-decoration: none;
  color: hsl(180, 29%, 50%);
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  transition: text-decoration .4s;
}

.search__clear:hover {
  text-decoration: underline;
}

.jobs {
  margin-top: 36px;
  width: 100%;
  height: auto;

  display: grid;
  row-gap: 25px;
}

.jobs__item {
  width: 100%;
  height: auto;
  padding: 35px 40px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 10px 15px -7px rgba(93, 164, 164, 0.5);

    display: flex;
  justify-content: space-between;
}

.jobs__column {
  display: flex;
  align-items: center;
}

.jobs__img {
  width: 90px;
  height: auto;
}

.jobs__info {
  margin-left: 25px;
  width: auto;
}

.jobs__company,
.jobs__title {
  display: block;
  font-weight: 600;
    margin-bottom: 15px;
}

.jobs__company {
  font-size: 14px;
  color: hsl(180, 29%, 50%);
}

.jobs__title {
  font-size: 18px;
  color:  hsl(180, 14%, 20%);
}

.jobs__details--item {
  display: inline-block;
  color: hsl(180, 8%, 52%);
  font-size: 15px;
}

.jobs__details--item::after {
  content: "";
  width: 3px;
  height: 3px;
  border-radius: 3px;
  background-color: hsl(180, 8%, 52%);
  display: inline-block;
  margin: 3px 15px;
}

.jobs__details--item:last-child:after {
  display: none;
}

.tag,
.close--tag {
  display: inline-block;
  width: auto;
  height: auto;
  color: hsl(180, 29%, 50%);
  background-color: hsl(180, 31%, 95%);
  border-radius: 5px;
  padding: 10px 15px;
  margin: 5px;
  font-weight: 700;
  font-size: 14px;
  cursor: pointer;
  transition: background-color .4s;
  position: relative;
}

.close--tag {
  padding-right: 45px;
}

.close--tag::after {
  content: "";
  display: block;
  width: 35px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  background-color: hsl(180, 29%, 50%);
  border-radius: 0px 5px 5px 0px;
  background-image: url("./images/icon-remove.svg");
  background-position: center;
  background-size: 15px;
  background-repeat: no-repeat;
}

.close--tag:hover::after {
  background-color: hsl(180, 14%, 20%);
}

.tag:hover {
  background-color: hsl(180, 29%, 50%);
  color: white;
}

/* - hsl(180, 29%, 50%)
 - Light Grayish Cyan (Background): hsl(180, 52%, 96%)
- Light Grayish Cyan (Filter Tablets): hsl(180, 31%, 95%)
- Dark Grayish Cyan: hsl(180, 8%, 52%)
- Very Dark Grayish Cyan: hsl(180, 14%, 20%) */