:root {
	--clr-primary-900: hsl(231, 69%, 60%);
	--clr-secondary-900: hsl(0, 94%, 66%);

	--clr-neutral-900: hsl(229, 31%, 21%);
	--clr-neutral-500: hsl(229, 8%, 60%);
}

* {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}

img,
svg {
	width: 100%;
}

body {
	font-family: "Rubik", sans-serif;
	font-size: 18px;
	font-weight: 400;
}

.container {
	max-width: 1200px;
	margin: auto;
}

.flex-group {
	display: flex;
	align-items: center;
}

.btn {
	display: inline-block;
	padding: 6px 24px;
	border-radius: 4px;
	font-size: 14px;
	cursor: pointer;
}

section {
	margin-top: 70px;
}

p {
	color: var(--clr-neutral-500);
	font-size: 20px;
	font-weight: 400;
}

.title {
	color: var(--clr-neutral-900);
	font-size: 32px;
}

/*! Header Design Start */
.header.flex-group {
	justify-content: space-between;
	padding: 40px 0;
}

.navbar.flex-group {
	gap: 40px;
}

.menu-links.flex-group {
	gap: 40px;
}

.menu-links.flex-group li {
	cursor: pointer;
	transition: 0.4s;
}

.menu-links.flex-group li:hover a {
	color: var(--clr-secondary-900);
}

.menu-links.flex-group a {
	display: inline-block;
	color: var(--clr-neutral-900);
	letter-spacing: 1.1px;
	text-transform: uppercase;
	font-size: 14px;
}

a.nav-cta {
	background: var(--clr-secondary-900);
	color: white;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
	border: 2px solid transparent;
	transition: 0.4s;
}

a.nav-cta:hover {
	border: 2px solid var(--clr-secondary-900);
	color: var(--clr-secondary-900);
	background: transparent;
}

/*! Header Design End */

/*! Banner Design Start */

.banner__section.flex-group {
	justify-content: space-between;
}

.banner__left-side {
	width: 50%;
}

.banner__title {
	font-size: 48px;
	color: var(--clr-neutral-900);
}

.banner__para {
	margin: 20px 0;
}

.banner__cta {
	gap: 20px;
}

.banner-cta {
	padding: 12px 24px;
	border: 2px solid transparent;
	transition: 0.4s;
	font-weight: 500;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

a.chrome {
	background: var(--clr-primary-900);
	color: white;
}

a.firefox {
	background: white;
	color: var(--clr-neutral-900);
}

a.firefox:hover {
	color: var(--clr-neutral-900);
	background: transparent;
	border: 2px solid var(--clr-neutral-900);
}

a.chrome:hover {
	color: var(--clr-primary-900);
	background: transparent;
	border: 2px solid var(--clr-primary-900);
}

.banner__right-side {
	width: 50%;
}

/*! Banner Design End */

/*! Features Design Start */

.features-header {
	text-align: center;
	margin-bottom: 50px;
}

.features-title {
	margin-bottom: 20px;
}

.features-para {
	width: 600px;
	margin: auto;
	text-align: center;
}

.features-tabs {
	width: 800px;
	margin: auto;
	margin-bottom: 50px;
	border-bottom: 1px solid var(--clr-neutral-500);
}

.tabs.flex-group {
	justify-content: space-between;
}

.tabs.flex-group li {
	padding: 10px 30px;
	cursor: pointer;
	border-bottom: 3px solid transparent;
	transition: 0.4s;
	color: var(--clr-neutral-900);
}

.tabs.flex-group li:hover {
	border-bottom: 3px solid var(--clr-secondary-900);
}

.features-section.flex-group {
	justify-content: space-between;
}

.features-left {
	width: 40%;
}

.features-right {
	width: 50%;
}

.bookmark-para {
	margin: 20px 0;
}

.bookmark-btn {
	padding: 12px 24px;
	border: 2px solid transparent;
	transition: 0.4s;
	font-weight: 500;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	background: var(--clr-primary-900);
	color: white;
}

/*! Features Design End */

/*! Extension Design Start */
.extensions--section__area {
	padding: 0px 150px;
}

.extensions--section__header {
	text-align: center;
	margin-bottom: 30px;
}

.extensions--section__title {
	margin-bottom: 10px;
}

.extensions--section__description {
	width: 600px;
	margin: auto;
}

.extensions--main {
	justify-content: space-between;
	gap: 20px;
}

.extensions--main__firefox {
	margin-top: 40px;
}

.extensions--main__opera {
	margin-top: 80px;
}

.individual--extension {
	background: white;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	border-radius: 10px;
	width: 30%;
}

.individual--extension__upper-content {
	padding: 60px 10px 20px 10px;
	text-align: center;
}

.individual--extension__upper-content img {
	width: 100px;
	margin-bottom: 20px;
}

.individual--extension__title {
	color: var(--clr-neutral-900);
	font-weight: 600;
	margin-bottom: 6px;
}

.individual--extension__description {
	font-size: 16px;
}

.individual--extension__bottom-content {
	padding: 0 16px 16px 16px;
}

.individual--extension__btn {
	padding: 12px;
	border: 2px solid transparent;
	transition: 0.4s;
	font-weight: 500;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	background: var(--clr-primary-900);
	color: white;
	margin-top: 12px;
	width: 100%;
	font-weight: 600;
}

.individual--extension__btn:hover {
	border: 2px solid var(--clr-primary-900);
	background: transparent;
	color: var(--clr-primary-900);
}

/*! Extension Design End */

/*! Questions Design Start */
.questions--section__header {
	text-align: center;
	margin-bottom: 30px;
}

.questions--section__title {
	margin-bottom: 10px;
}

.questions--section__description {
	width: 600px;
	margin: auto;
}

.questions--section__area {
	width: 700px;
	margin: auto;
}

.questions--section__item.flex-group {
	justify-content: space-between;
	padding: 15px 0;
	border-top: 1px solid var(--clr-neutral-500);
	cursor: pointer;
}

.questions--section__single--question {
	color: var(--clr-neutral-900);
	font-weight: 500;
}

.questions--section__item.flex-group i {
	color: var(--clr-primary-900);
	font-size: 20px;
}

.questions--section__item--border {
	border-bottom: 1px solid var(--clr-neutral-500);
}

.questions--section__cta {
	width: 100%;
	text-align: center;
	margin: 50px;
}

.questions--section__btn {
	padding: 12px;
	border: 2px solid transparent;
	transition: 0.4s;
	font-weight: 500;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	background: var(--clr-primary-900);
	color: white;
	margin-top: 12px;
}
/*! Questions Design End */

/*! Newsletter Design Start */
.newsletter--section {
	background-color: var(--clr-primary-900);
	padding: 40px 0;
}

.newsletter--section__members {
	color: white;
	text-align: center;
	font-size: 14px;
	letter-spacing: 5px;
	margin-bottom: 20px;
}

.newsletter--section__title {
	text-align: center;
	color: white;
	width: 400px;
	margin: auto;
	margin-bottom: 20px;
}

.newsletter--section__form {
	width: 400px;
	margin: auto;
}

.newsletter--section__form input {
	padding: 16px 20px;
	border: none;
	outline: none;
	border-radius: 6px;
	width: 249px;
}

.newsletter--section__btn {
	padding: 14px;
	border: 2px solid var(--clr-secondary-900);
	transition: 0.4s;
	font-weight: 500;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	background: var(--clr-secondary-900);
	color: white;
	margin-top: 12px;
	font-weight: 600;
	border-radius: 6px;
}

.newsletter--section__btn:hover {
	background-color: white;
	color: var(--clr-secondary-900);
}
/*! Newsletter Design End */


/*! Footer Design Start */
.footer--section {
	background-color: var(--clr-neutral-900);
	padding: 20px 0;
}

.footer--section__area.flex-group {
	justify-content: space-between;
}

.footer--section__links.flex-group {
	gap: 50px;
}

.footer--section__menu.flex-group {
	gap: 20px;
}

.footer--section__menu.flex-group  a {
	display: inline-block;
	color: white;
	letter-spacing: 3px;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 400;
}

.footer--section__social.flex-group {
	gap: 20px;
}
/*! Footer Design End */
