:root {
	--clr-primary-900: hsl(231, 69%, 60%);
	--clr-secondary-900: hsl(0, 94%, 66%);

	--clr-neutral-900: hsl(229, 31%, 21%);
	--clr-neutral-500: hsl(229, 8%, 60%);
}

* {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	box-sizing: border-box;
}

img,
svg {
	width: 100%;
}

body {
	font-family: "Rubik", sans-serif;
	font-size: 18px;
	font-weight: 400;
	overflow-x: hidden;
}

.container {
	padding: 0px 50px;
}

.flex-group {
	display: flex;
	align-items: center;
}

.btn {
	display: inline-block;
	padding: 6px 24px;
	border-radius: 4px;
	font-size: 14px;
	cursor: pointer;
}

section {
	margin-top: 70px;
}

p {
	color: var(--clr-neutral-500);
	font-size: 20px;
	font-weight: 400;
}

.title {
	color: var(--clr-neutral-900);
	font-size: 32px;
}

/*! Header Design Start */

ul.mobile--social--links {
	display: none;
}

.header-area__cta {
	display: none;
}

.header-area__cta .menu-icon {
	border: none;
	outline: none;
}

.mobile--menu--header {
	display: none;
}

.header.flex-group {
	justify-content: space-between;
	padding: 40px 0;
}

.navbar.flex-group {
	gap: 40px;
}

.header-logo {
	margin-top: 7px;
}

.menu-links.flex-group {
	gap: 40px;
}

.menu-links.flex-group li {
	cursor: pointer;
	transition: 0.4s;
}

.menu-links.flex-group li:hover a {
	color: var(--clr-secondary-900);
}

.menu-links.flex-group a:not(.nav-cta) {
	display: inline-block;
	color: var(--clr-neutral-900);
	letter-spacing: 1.1px;
	text-transform: uppercase;
	font-size: 14px;
}

button.nav-cta {
	background: var(--clr-secondary-900);
	color: white;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
	border: 2px solid transparent;
	transition: 0.4s;
}

button.nav-cta:hover {
	border: 2px solid var(--clr-secondary-900);
	color: var(--clr-secondary-900);
	background: transparent;
}

/*! Header Design End */

/*! Banner Design Start */

.banner__section.flex-group {
	justify-content: space-between;
}

.banner__left-side {
	width: 50%;
}

.banner__title {
	font-size: 48px;
	color: var(--clr-neutral-900);
}

.banner__para {
	margin: 20px 0;
}

.banner__cta {
	gap: 20px;
}

.banner-cta {
	padding: 12px 24px;
	border: 2px solid transparent;
	transition: 0.4s;
	font-weight: 500;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

a.chrome {
	background: var(--clr-primary-900);
	color: white;
}

a.firefox {
	background: white;
	color: var(--clr-neutral-900);
}

a.firefox:hover {
	color: var(--clr-neutral-900);
	background: transparent;
	border: 2px solid var(--clr-neutral-900);
}

a.chrome:hover {
	color: var(--clr-primary-900);
	background: transparent;
	border: 2px solid var(--clr-primary-900);
}

.banner__right-side {
	width: 50%;
	position: relative;
}

.image-plane__background {
	position: absolute;
	bottom: 0;
	width: 130%;
	height: 350px;
	background-color: var(--clr-primary-900);
	z-index: -1;
}

.banner__image-bg {
	border-radius: 200px 0 0 200px;
	left: 150px;
}

/*! Banner Design End */

/*! Features Design Start */

.features-header {
	text-align: center;
	margin-bottom: 50px;
}

.features-title {
	margin-bottom: 20px;
}

.features-para {
	width: 600px;
	margin: auto;
	text-align: center;
}

.features-tabs {
	width: 800px;
	margin: auto;
	margin-bottom: 50px;
	border-bottom: 1px solid var(--clr-neutral-500);
}

.tabs.flex-group {
	justify-content: space-between;
}

.tabs.flex-group li {
	cursor: pointer;
	border-bottom: 1px solid transparent;
	transition: 0.4s;
}

.tabs.flex-group li a {
	color: var(--clr-neutral-900);
	display: inline-block;
	padding: 10px 30px;
	border-bottom: 3px solid transparent;
	transition: 0.4s;
	margin-bottom: -1px;
}

.tabs.flex-group li:hover a {
	border-bottom: 3px solid var(--clr-secondary-900);
}

.features-section.flex-group {
	justify-content: space-between;
}

.features-left {
	width: 40%;
	position: relative;
}

.features--image__bg {
	right: 80px;
	top: 50px;
	border-radius: 0 200px 200px 0;
}

.features-right {
	width: 50%;
}

.bookmark-para {
	margin: 20px 0;
}

.bookmark-btn {
	padding: 12px 24px;
	border: 2px solid transparent;
	transition: 0.4s;
	font-weight: 500;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	background: var(--clr-primary-900);
	color: white;
}

/*! Features Design End */

/*! Extension Design Start */
.extensions--section__area {
	padding: 0px 150px;
}

.extensions--section__header {
	text-align: center;
	margin-bottom: 30px;
}

.extensions--section__title {
	margin-bottom: 10px;
}

.extensions--section__description {
	width: 600px;
	margin: auto;
}

.extensions--main {
	justify-content: space-between;
	gap: 20px;
}

.extensions--main__firefox {
	margin-top: 40px;
}

.extensions--main__opera {
	margin-top: 80px;
}

.individual--extension {
	background: white;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	border-radius: 10px;
	width: 30%;
}

.individual--extension__upper-content {
	padding: 60px 10px 20px 10px;
	text-align: center;
}

.individual--extension__upper-content img {
	width: 100px;
	margin-bottom: 20px;
}

.individual--extension__title {
	color: var(--clr-neutral-900);
	font-weight: 600;
	margin-bottom: 6px;
}

.individual--extension__description {
	font-size: 16px;
}

.individual--extension__bottom-content {
	padding: 0 16px 16px 16px;
}

.individual--extension__btn {
	padding: 12px;
	border: 2px solid transparent;
	transition: 0.4s;
	font-weight: 500;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	background: var(--clr-primary-900);
	color: white;
	margin-top: 12px;
	width: 100%;
	font-weight: 600;
}

.individual--extension__btn:hover {
	border: 2px solid var(--clr-primary-900);
	background: transparent;
	color: var(--clr-primary-900);
}

/*! Extension Design End */

/*! Questions Design Start */
.questions--section__header {
	text-align: center;
	margin-bottom: 30px;
}

.questions--section__title {
	margin-bottom: 10px;
}

.questions--section__description {
	width: 600px;
	margin: auto;
}

.questions--section__area {
	width: 700px;
	margin: auto;
}

.questions--section__item.flex-group {
	justify-content: space-between;
	padding: 15px 0;
	border-top: 1px solid var(--clr-neutral-500);
	cursor: pointer;
}

.questions--section__single--question {
	color: var(--clr-neutral-900);
	font-weight: 500;
}

.questions--section__item.flex-group i {
	color: var(--clr-primary-900);
	font-size: 20px;
}

.questions--section__item--border {
	border-bottom: 1px solid var(--clr-neutral-500);
}

.questions--section__cta {
	width: 100%;
	text-align: center;
	margin: 50px;
}

.questions--section__btn {
	padding: 12px;
	border: 2px solid transparent;
	transition: 0.4s;
	font-weight: 500;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	background: var(--clr-primary-900);
	color: white;
	margin-top: 12px;
}
/*! Questions Design End */

/*! Newsletter Design Start */
.newsletter--section {
	background-color: var(--clr-primary-900);
	padding: 40px 0;
}

.newsletter--section__members {
	color: white;
	text-align: center;
	font-size: 14px;
	letter-spacing: 5px;
	margin-bottom: 20px;
}

.newsletter--section__title {
	text-align: center;
	color: white;
	width: 400px;
	margin: auto;
	margin-bottom: 20px;
}

.newsletter--section__form {
	width: 400px;
	margin: auto;
}

.newsletter--section__form input {
	padding: 16px 20px;
	border: none;
	outline: none;
	border-radius: 6px;
	width: 249px;
}

.newsletter--section__btn {
	padding: 14px;
	border: 2px solid var(--clr-secondary-900);
	transition: 0.4s;
	font-weight: 500;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	background: var(--clr-secondary-900);
	color: white;
	margin-top: 12px;
	font-weight: 600;
	border-radius: 6px;
}

.newsletter--section__btn:hover {
	background-color: white;
	color: var(--clr-secondary-900);
}
/*! Newsletter Design End */

/*! Footer Design Start */
.footer--section {
	background-color: var(--clr-neutral-900);
	padding: 20px 0;
}

.footer--section__area.flex-group {
	justify-content: space-between;
}

.footer--section__links.flex-group {
	gap: 50px;
}

.footer--section__logo {
	margin-top: 6px;
}

.footer--section__menu.flex-group {
	gap: 20px;
}

.footer--section__menu.flex-group a {
	display: inline-block;
	color: white;
	letter-spacing: 3px;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 400;
	transition: 0.4s;
}

.footer--section__menu.flex-group a:hover {
	color: var(--clr-secondary-900);
}

.footer--section__social.flex-group {
	gap: 20px;
}

.footer--section__social.flex-group {
	cursor: pointer;
}

/*! Footer Design End */

/* ! Media Queries Start*/
/* Mobile */
@media screen and (max-width: 600px) {
	.container {
		padding: 0px 20px;
	}

	.title {
		font-size: 24px;
	}

	p {
		font-size: 16px;
	}

	/*! Header Area */

	.header-area__cta {
		display: block;
	}

	.menu-links.flex-group {
		flex-direction: column;
		margin-top: 40px;
	}

	.navbar.flex-group {
		align-items: normal;
		flex-direction: column;
		justify-content: space-between;
		opacity: 0;
		position: absolute;
		z-index: -50;
	}

	.navbar.flex-group.open {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: hsl(229, 31%, 21%, 0.9);
		z-index: 999;
		padding: 35px 18px;
		opacity: 1;
	}

	.mobile--menu--header.flex-group {
		justify-content: space-between;
		display: flex;
	}

	.mobile--menu--header .logo--light {
		width: 50%;
	}

	.navbar.flex-group ul:not(.mobile--social--links) {
		display: flex;
		text-align: center;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 0px;
	}

	ul.mobile--social--links {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 20px;
	}

	.menu-links.flex-group li {
		border-top: 1px solid white;
		padding: 12px 0;
		width: 100%;
	}

	.menu-links.flex-group a:not(.nav-cta) {
		color: white;
	}

	.menu-links.flex-group .nav-cta {
		width: 100%;
		background: transparent;
		border: 2px solid white;
	}

	.menu-links.flex-group .nav-cta:hover {
		background: white;
	}

	/*! Banner Area */

	.banner__section.flex-group {
		flex-direction: column-reverse;
		gap: 5rem;
	}

	.banner__left-side {
		width: 100%;
	}

	.banner__title {
		font-size: 28px;
		text-align: center;
	}

	.banner__para {
		text-align: center;
		font-size: 16px;
	}

	.banner__right-side {
		width: 100%;
	}

	.banner__image-bg {
		height: 80%;
		top: 18%;
	}

	.banner__cta.flex-group {
		justify-content: center;
	}

	.banner-cta {
		font-size: 12px;
	}
	/*! Features Area */

	.features-para {
		width: 90%;
	}

	.features-tabs {
		width: 90%;
	}

	.tabs.flex-group {
		flex-direction: column;
	}

	.tabs.flex-group li {
		text-align: center;
		width: 100%;
		border-bottom: 1px solid var(--clr-neutral-500);
	}

	.tabs.flex-group li:nth-child(3) {
		border-bottom: none;
	}

	.features-section.flex-group {
		flex-direction: column;
		gap: 8rem;
	}

	.features-left {
		width: 90%;
	}

	.features--image__bg {
		top: 18%;
		height: 95%;
	}

	.features-right {
		width: 100%;
	}

	.bookmark-title {
		text-align: center;
	}

	.bookmark-para {
		text-align: center;
	}

	.bookmark-cta {
		text-align: center;
	}

	/*! Extension Area  */

	.extensions--section__area.flex-group {
		flex-direction: column;
	}

	.extensions--section__description {
		width: 90%;
	}

	.extensions--main__firefox {
		margin-top: 0px;
	}

	.extensions--main__opera {
		margin-top: 0px;
	}

	.individual--extension {
		width: 80%;
	}
	/* questions area */
	.questions--section__description {
		width: 90%;
	}

	.questions--section__area {
		width: 90%;
	}

	.questions--section__single--question {
		font-size: 14px;
	}

	.questions--section__cta {
		margin: 0px;
		margin-top: 20px;
	}

	/* ! Newsletter Area */
	.newsletter--section__title {
		width: 90%;
	}

	.newsletter--section__form {
		width: 90%;
	}

	.newsletter--section__form input,
	.newsletter--section__form button {
		width: 100%;
	}

	/* ! Footer Area */
	.footer--section__area.flex-group {
		flex-direction: column;
		gap: 20px;
	}

	.footer--section__links.flex-group {
		flex-direction: column;
		gap: 20px;
	}

	.footer--section__menu.flex-group {
		flex-direction: column;
	}
}

/* For Table Design */
@media screen and (min-width: 600px) and (max-width: 768px) {
	.container {
		padding: 0px 20px;
	}

	.title {
		font-size: 24px;
	}

	p {
		font-size: 16px;
	}

	/*! Header Area */

	.header-area__cta {
		display: block;
	}

	.menu-links.flex-group {
		flex-direction: column;
		margin-top: 40px;
	}

	.navbar.flex-group {
		align-items: normal;
		flex-direction: column;
		justify-content: space-between;
		opacity: 0;
		position: absolute;
		z-index: -50;
	}

	.navbar.flex-group.open {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: hsl(229, 31%, 21%, 0.9);
		z-index: 999;
		padding: 35px 18px;
		opacity: 1;
	}

	.mobile--menu--header.flex-group {
		justify-content: space-between;
		display: flex;
	}

	.mobile--menu--header .logo--light {
		width: 50%;
	}

	.navbar.flex-group ul:not(.mobile--social--links) {
		display: flex;
		text-align: center;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 0px;
	}

	ul.mobile--social--links {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 20px;
	}

	.menu-links.flex-group li {
		border-top: 1px solid white;
		padding: 12px 0;
		width: 100%;
	}

	.menu-links.flex-group a:not(.nav-cta) {
		color: white;
	}

	.menu-links.flex-group .nav-cta {
		width: 100%;
		background: transparent;
		border: 2px solid white;
	}

	.menu-links.flex-group .nav-cta:hover {
		background: white;
	}

	/*! Banner Area */

	.banner__section.flex-group {
		flex-direction: column-reverse;
		gap: 5rem;
	}

	.banner__left-side {
		width: 100%;
	}

	.banner__title {
		font-size: 28px;
		text-align: center;
	}

	.banner__para {
		text-align: center;
		font-size: 16px;
	}

	.banner__right-side {
		width: 100%;
	}

	.banner__image-bg {
		height: 80%;
		top: 18%;
	}

	.banner__cta.flex-group {
		justify-content: center;
	}

	.banner-cta {
		font-size: 12px;
	}
	/*! Features Area */

	.features-para {
		width: 90%;
	}

	.features-tabs {
		width: 90%;
	}

	.tabs.flex-group {
		flex-direction: column;
	}

	.tabs.flex-group li {
		text-align: center;
		width: 100%;
		border-bottom: 1px solid var(--clr-neutral-500);
	}

	.tabs.flex-group li:nth-child(3) {
		border-bottom: none;
	}

	.features-section.flex-group {
		flex-direction: column;
		gap: 8rem;
	}

	.features-left {
		width: 90%;
	}

	.features--image__bg {
		top: 18%;
		height: 95%;
	}

	.features-right {
		width: 100%;
	}

	.bookmark-title {
		text-align: center;
	}

	.bookmark-para {
		text-align: center;
	}

	.bookmark-cta {
		text-align: center;
	}

	/*! Extension Area  */

	.extensions--section__area.flex-group {
		flex-direction: column;
	}

	.extensions--section__description {
		width: 90%;
	}

	.extensions--main__firefox {
		margin-top: 0px;
	}

	.extensions--main__opera {
		margin-top: 0px;
	}

	.individual--extension {
		width: 80%;
	}
	/* questions area */
	.questions--section__description {
		width: 90%;
	}

	.questions--section__area {
		width: 90%;
	}

	.questions--section__single--question {
		font-size: 14px;
	}

	.questions--section__cta {
		margin: 0px;
		margin-top: 20px;
	}

	/* ! Newsletter Area */
	.newsletter--section__title {
		width: 90%;
	}

	.newsletter--section__form {
		width: 90%;
	}

	.newsletter--section__form input,
	.newsletter--section__form button {
		width: 100%;
	}

	/* ! Footer Area */
	.footer--section__area.flex-group {
		flex-direction: column;
		gap: 20px;
	}

	.footer--section__links.flex-group {
		flex-direction: column;
		gap: 20px;
	}

	.footer--section__menu.flex-group {
		flex-direction: column;
	}
}


/* ! Media Queries End*/
